<p id="notice"><%= notice %></p>

<p>
  <strong>Servicio:</strong>
  <%= @service.title %>
</p>

<p>
  <strong>Completo:</strong>
  <%= @service.completed %>
</p>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
